.flash {
  background-color: lightyellow;
  border: thin solid gold;
  padding: 1mm;
  border-radius: 1mm;

  /* positioning */
  position: absolute;
  margin-top: -3mm;
  margin-left: 25%;
  z-index: 10;
}

.flash-no-message {
  display: none;
}
