/*
Document structure:

div.interpretter

  div.input
    div.input-item

  div.program
    div.canvas
    div.execution

  div.palette
    div.functions
      button.function
    div.values
      button.value

    div.info
*/

p.important-notice {
  color: firebrick;
}

#example h4, #example h5   {
  margin-bottom: 0.2em;
}

.box {
  padding: 1mm;
  margin: 1mm;
}

.dbg {
  border: thin dotted red;
}

.saved-function-name {
  background-color: lightgrey;
  height: 1.8em;
}

.saved-function-name > h3 {
  display: inline;
}
.saved-function-name > button {
  float: right;
}

.update-name {
  float: right;
}

html, body, #app, .interpretter { 
  height: 100%;
  margin: 0;
  padding: 0;
}

#palette {
  width: 7.5cm;
  height: 105%; /* XXX */
  background-color: #AAA;
  position: absolute;
  border-right: thin solid grey;
}

#program {
  position: absolute;
  margin-left: 7.6cm;
  max-width: 20cm;
  min-width: 10cm;
  width: 100%;
  margin-right: 1mm;
  /*
  min-width: 5cm;
  margin-left: 8cm;
  margin-top: 0; */
  /* 6.8cm = 6mm width + 1mm + 2 elments * 2 sides * (1mm margin + 1mm padding) */
}

h3#function-name {
  font-family: "Courier New", monospace;
}

/** BORDER **/
.box, .item, .input-item, .function, .value {
  border: thin solid grey;
  border-radius: 1mm;
}

.item, .value, .input-item, .function {
  font-family: monospace;
}
/** BEHAVIOR **/
/* Pseudo-buttons */
.input-item, .function, .value {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/** COLOR **/
#program-input { background-color: pink; }
#execution { background-color: lightblue; }
#information { background-color: #FCFCFC; }

.em.input-item {
  background-color: yellow;
}
.em, .em.item {
  background-color: lightsalmon;
}
.data { background-color: lightgreen; }
.skip { background-color: #AAA; }
.input-item, .value, .function, .item
{ background-color: #DDD; }
.box { background-color: #EEE; }
/* TODO change from id -> class */
.highlighted { background-color: salmon; }

.function:hover, .value:hover, .input-item:hover {
  background-color: #ACF;
}
.function:active, .value:active, .input-item:active {
  background-color: orange;
}

/* XXX: NOT USED */
#no-input { color: grey; }

/** PADDING & MARGINS **/
p { margin-top: 0.3em; margin-bottom: 0.3em; }
.input-item {
  margin: 0.5mm;
}

/** LAYOUT **/

/* #functions > div */
.item, .function, .value {
  display: inline-block;
  padding: 0.2em;
  margin: 0.4mm;
}
.item:first-child { margin-left: 0; }
.item:last-child { margin-right: 0; }

.row {
  border: thin dashed dodgerblue;
  width: calc(100% - 2mm);
  padding: 0.1em;
  margin-left: 1mm;
  margin-right: 1mm;
  /*margin-top: 0.25em;
  margin-bottom: 0.25em;*/
}

#edit-program, #delete-program {
  float: right;
}

#cancel-edits, #save-edits {
  float: right;
}

#information > h2 {
  float: left;
}

#information {
  overflow: hidden;
}

#function-name {
  clear: both;
}

#overlay {
  max-width: 20cm;
  min-width: 10cm;
  width: 60%;
  background-color: #EEE;
  border-radius: 1mm;
  border: thin grey solid;
  padding: 3mm;
  box-shadow: 2mm 2mm 4mm darkgrey;
  position: absolute;
  margin-top: 1cm;;
  margin-left: 8cm;
}

.edit-program {
  border: lightgrey solid thin;
  background-color: #FCFCFC;
  margin-bottom: 1mm;
  margin-top: 1mm;
  padding: 1mm;
  border-radius: 1mm;
}

.overlay-form > h2 {
  margin-bottom: 0.5em;
}

#overlay-name-label {
  padding-right: 0.5em;
}

#overlay-definition-label {
  display: block;
}

.overlay-form .row {
  margin-bottom: 1mm;
}

#new-program {
  float: right;
}
